*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}

.calculator > * {
  font-size: 1.5rem;
}

.display {
  grid-column: span 4;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.expression-display {
  font-size: 1rem;
}

.expression-display,
.current-num-display {
  margin-right: 1rem;
}

.calculator button {
  border: 1px solid black;
}

.two-tall {
  grid-row: span 2;
}

.two-wide {
  grid-column: span 2;
}
